@model ISHousingMgmt.Web.Models.Finances.ReserveMModel

@{
	ViewBag.Title = "Pričuva za zgradu: " + Model.Reserve.Building.Address.ToString();
	var isManager = Model.CurrentRole == "buildingmanager";
	var isRepresentative = Model.CurrentRole == "representative";
}

@section SideMenu {
 @if (Model.CurrentRole.Equals("buildingmanager")) {
		@Html.Partial("ManagerSideMenu", Model.Links)
 } else if (Model.CurrentRole.Equals("representative")) {
	 @Html.Partial("RepresentativeSideMenu", Model.Links)
 } else if (Model.CurrentRole.Equals("owner")) {
	 @Html.Partial("OwnerSideMenu", Model.Links)
 } else {
		@Html.Partial("MainMenu")
 }
}

<h2>@ViewBag.Title</h2>

<fieldset>
	<legend>Podaci o pričuvi</legend>

	<div style="margin: 10px 0;">
		<div class="two-column float-left">
			<div class="display-label horizontal"><strong>@Html.LabelFor(m => m.Reserve.Building):</strong></div>
			<div class="display-field horizontal">@Model.Reserve.Building.Address.ToString()</div>
		</div>
		<div class="two-column float-left">
			<div class="display-label horizontal"><strong>@Html.LabelFor(m => m.Reserve.Money):</strong></div>
			<div class="display-field horizontal">@Html.DisplayFor(m => m.Reserve.Money) kn</div>
		</div>
		<div class="clear"></div>

		<div style="margin: 10px 0;">
			<div class="display-label"><strong>@Html.LabelFor(m => m.Reserve.UnpaidBills):</strong></div>
			<table>
				<tr>
					<th>Broj računa</th>
					<th>Poziv na broj</th>
					<th>Izdao</th>
					<th>Iznos</th>
					<th>Iznos+PDV</th>
					<th>Plaćeno</th>
					@if (isRepresentative) {
						<th>Akcija</th>
	 }
				</tr>
				@foreach (var bill in Model.Reserve.UnpaidBills) {
					<tr>
						<td>
							@Html.ActionLink(bill.Id.ToString(), "bill", new { Id = bill.Id })
						</td>
						<td>@bill.ReferenceNumber</td>
						<td>@bill.From.FullName</td>
						<td>@Html.DisplayFor(m => bill.TotalAmount) kn</td>
						<td>@Html.DisplayFor(m => bill.TotalAmountWithTax) kn</td>
						<td>@(bill.IsPaid ? "Da" : "Ne")</td>
						@if (isRepresentative) {
						<td>
							@Html.ActionLink("Plati", "paybill", new { Id = bill.Id })
						</td>
	  }
					</tr>
	}
			</table>
		</div>

		<div style="margin: 10px 0;">
			<div class="display-label"><strong>@Html.LabelFor(m => m.Reserve.PaidBills):</strong></div>
			<table>
				<tr>
					<th>Broj računa</th>
					<th>Poziv na broj</th>
					<th>Izdao</th>
					<th>Iznos</th>
					<th>Iznos+PDV</th>
					<th>Plaćeno</th>
				</tr>
				@foreach (var bill in Model.Reserve.PaidBills) {
					<tr>
						<td>@Html.ActionLink(bill.Id.ToString(), "bill", new { Id = bill.Id })</td>
						<td>@bill.ReferenceNumber</td>
						<td>@bill.From.FullName</td>
						<td>@Html.DisplayFor(m => bill.TotalAmount) kn</td>
						<td>@Html.DisplayFor(m => bill.TotalAmountWithTax) kn</td>
						<td>@(bill.IsPaid ? "Da" : "Ne")</td>
					</tr>
	}
			</table>
		</div>

	</div>

</fieldset>